// ---------------------------------------------------------------------------------------- IMPORTS
@use "sass:math";
@use "../../../assets/styles/common/helpers";
@use "../../../assets/styles/main.scss";

/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../../../assets/fonts/poppins-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../../../assets/fonts/poppins-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../../assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../../../assets/fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../../../assets/fonts/poppins-v20-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../../../assets/fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../../../assets/fonts/poppins-v20-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../../../assets/fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../../../assets/fonts/poppins-v20-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../../../assets/fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../../../assets/fonts/poppins-v20-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../../../assets/fonts/poppins-v20-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// ----------------------------------------------------------------------------------------- GLOBAL

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// palette
// https://coolors.co/ffffff-f0f0f0-fffcf2-ccc5b9-868179-403d39-252422-884125-eb5e28
$white: #ffffffff;
$cultured: #f0f0f0ff;
$pale-silver: #ccc5b9ff;
$middle-grey: #868179ff;
$black-olive: #403d39ff;
$eerie-black: #252422ff;
$kobe: #884125ff;
$flame: #eb5e28ff;

// transitions
$box-trans-delay: 0.5s;

// typo
$base-font-size: 18px;
$font-family: "Poppins", sans-serif;
$letter-spacing: 2px;

:root {
  --bg-primary: #{$white};
  --bg-secondary: #{$white};
  --bg-tertiary: #{$cultured};
  --bg-cuaternary: #{$pale-silver};
  --bg-complementary: #{$flame};
  --bg-negative: #{$black-olive};

  --txt-primary: #{$black-olive};
  --txt-secondary: #{$middle-grey};
  --txt-tertiary: #{$pale-silver};
  --txt-complementary: #{$flame};
  --txt-negative: #{$cultured};

  --br-primary: #{$cultured};
  --br-secondary: #{$cultured};
  --br-tertiary: #{$middle-grey};
  --br-complementary: #{$flame};

  font-family: $font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
}

.dark {
  --bg-primary: #{$eerie-black};
  --bg-secondary: #{$black-olive};
  --bg-tertiary: #{$black-olive};
  --bg-cuaternary: #{$middle-grey};
  --bg-complementary: #{$kobe};
  --bg-negative: #{$cultured};

  --txt-primary: #{$cultured};
  --txt-secondary: #{$middle-grey};
  --txt-tertiary: #{$middle-grey};
  --txt-complementary: #{$flame};
  --txt-negative: #{$black-olive};

  --br-primary: #{$middle-grey};
  --br-secondary: #{$eerie-black};
  --br-complementary: #{$kobe};
}

.btn--labeled {
  @include helpers.btn-labeled($flame, $white, $cultured, $black-olive);

  .dark & {
    @include helpers.btn-labeled($eerie-black, $white, $black-olive, $cultured);
  }
}

// ---------------------------------------------------------------------------------------- GENERAL
body {
  overflow-x: hidden;
  background-color: var(--bg-primary);
}

img {
  max-width: 100%;
}

// -------------------------------------------------------------------------------------- CONTAINER
.container {
  position: relative;
  width: 100%;
}

// ------------------------------------------------------------------------------------------- MAIN
.main {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
  transition: left $box-trans-delay ease-in-out;
  width: 100%;

  @media (min-width: $lg) {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);

    &.nav-active {
      width: 100%;
      left: 0;
    }
  }
}

// ----------------------------------------------------------------------------------------- NAVBAR
.navbar {
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--txt-secondary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  left: -100%;
  padding-top: 60px;
  position: fixed;
  width: 100%;
  z-index: 9998;
  transition: left $box-trans-delay ease-in-out;

  &.nav-active {
    left: 0;
  }

  @media (min-width: $lg) {
    align-items: flex-start;
    border-right: 1px solid var(--br-secondary);
    justify-content: center;
    left: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    width: 300px;

    &.nav-active {
      left: -100%;
    }
  }

  &__section {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    font-size: 0.9rem;
    font-weight: 400;

    @media (min-width: $lg) {
      padding-left: 2rem;
      text-align: left;
    }

    &__item {
      padding: 5px 0;

      a:hover {
        color: var(--txt-complementary);
        text-decoration: overline;
      }
    }
  }

  &__theme-switch {
    background-color: var(--bg-negative);
    border-radius: 50%;
    bottom: 30px;
    color: var(--txt-negative);
    height: 30px;
    left: 30px;
    position: absolute;
    width: 30px;
    @include helpers.flex-center();

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "\f186";
      font-family: fontAwesome;

      .dark & {
        content: "\f185";
      }
    }

    &::after {
      color: var(--txt-primary);
      content: "Cambiar a Modo Oscuro";
      font-size: 0.7rem;
      left: 40px;
      pointer-events: none;
      position: absolute;
      white-space: nowrap;

      .dark & {
        content: "Cambiar a Modo Claro";
      }
    }
  }
}

// ----------------------------------------------------------------------------------------- TOPBAR
.topbar {
  align-items: center;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--br-secondary);
  color: var(--txt-primary);
  display: flex;
  font-size: 1.1rem;
  height: 60px;
  justify-content: space-between;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  @media (min-width: $sm) {
    padding: 0 2rem;
  }

  &__logo {
    font-weight: 900;
    text-transform: uppercase;
  }

  &__toggle-btn {
    cursor: pointer;
  }
}

.section {
  min-height: 100vh;
  padding-top: 6rem;
  padding: {
    left: 1rem;
    right: 1rem;
  }
  width: 100%;

  &__header {
    margin-bottom: 3rem;
    text-align: center;

    &__title {
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: $letter-spacing;
      margin-bottom: 2rem;
      position: relative;
      text-transform: uppercase;

      &::before {
        content: "";
        background: var(--txt-primary);
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        position: absolute;
        width: 4rem;
      }
    }
  }

  &__content {
    margin-top: 50px;
  }
}

// ----------------------------------------------------------------------------------------- BANNER
.banner {
  align-items: center;
  color: var(--txt-primary);
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 550px;
  padding: 0 20px;
  position: relative;
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5rem;
    text-align: center;
  }

  &__figure {
    border-radius: 50%;
    display: block;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 250px;

    &__img {
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
  }

  &__description {
    color: $middle-grey;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  &__btn {
    background-color: var(--bg-negative);
    color: var(--txt-negative);
    display: block;
    padding: 10px 30px;

    &:hover {
      background-color: var(--bg-complementary);
      color: $white;
    }
  }

  &__social {
    bottom: 30px;
    display: flex;
    position: absolute;

    &__item {
      margin: 5px;
      a {
        align-items: center;
        background-color: var(--bg-tertiary);
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;

        &:hover {
          background-color: var(--bg-complementary);
          color: $white;
        }
      }
    }
  }
}

// ------------------------------------------------------------------------------------------ ABOUT
.about {
  &__content {
    &__text {
      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        text-decoration: underline;

        &:hover {
          color: var(--txt-complementary);
        }
      }
    }

    @media (min-width: $xl) {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
    }

    &__figure {
      margin-top: 30px;

      @media (min-width: $xl) {
        margin-top: 0;
      }
    }
  }
}

// ------------------------------------------------------------------------------------------ STACK
.stack {
  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;

    @media (min-width: $md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: $xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $xxl) {
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      align-items: center;
      background-color: var(--bg-secondary);
      border: 1px solid var(--br-primary);
      color: var(--txt-primary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px 20px;
      text-align: center;
      transition: border-color 0.3s ease-in-out;

      &__icon {
        width: 4rem;
        filter: invert(0.2);

        .dark & {
          filter: invert(0.9);
        }
      }

      &__title {
        color: var(--txt-primary);
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: $letter-spacing;
        margin: {
          top: 30px;
          bottom: 20px;
        }
        text-transform: uppercase;
      }

      &__body {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;

        @include helpers.tag(var(--bg-cuaternary), var(--br-tertiary), var(--txt-primary)) {
          &:first-child {
            margin-left: 0px;
          }
        }
      }

      &:hover {
        border-color: var(--br-complementary);

        h2 {
          color: var(--txt-complementary);
        }
      }
    }
  }
}

// --------------------------------------------------------------------------------------- PROJECTS
.projects {
  &__content {
    @media (min-width: $md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: $xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $xxl) {
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      color: var(--txt-negative);
      height: 300px;
      margin-bottom: 30px;
      overflow: hidden;
      position: relative;
      width: 100%;

      @media (min-width: $md) {
        margin: 0;
      }

      &__img {
        background-color: var(--bg-cuaternary);
        height: 100%;
        position: relative;
        transform: translateY(0);
        width: 100%;
        transition: 0.5s ease-in-out;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      &__legend {
        align-items: center;
        background-color: var(--bg-negative);
        color: var(--txt-negative);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        padding: 0px 2rem;
        position: absolute;
        text-align: center;
        transform: translateY(100%);
        transition: 0.5s ease-in-out;
        top: 0;
        width: 100%;

        .dark & {
          background-color: var(--bg-complementary);
          color: var(--txt-primary);
        }

        h3 {
          font-size: 0.8rem;
          font-weight: 600;
          letter-spacing: $letter-spacing;
          text-transform: uppercase;
        }

        p {
          font-weight: 300;
          font-size: 0.8rem;
          margin-top: 0.5rem;

          @include helpers.tag(transparent, var(--br-primary), inherited, $fontSize: 0.7rem, $padding: 0.1rem 0.2rem);
        }

        &__links {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
        }
      }

      &:hover &__img {
        transform: translateY(-100%);
      }

      &:hover &__legend {
        transform: translateY(0);
      }
    }
  }
}

// ---------------------------------------------------------------------------------------- CONTACT
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    max-width: $md;
    margin-top: 0;
    width: 100%;

    &__row {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 20px;

      @media (min-width: $md) {
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
      }

      input {
        background: var(--bg-primary);
        border: 1px solid var(--br-primary);
        color: var(--txt-primary);
        outline: none;
        padding: 10px;
        width: 100%;

        &::placeholder {
          color: var(--txt-tertiary);
        }

        &:focus {
          border-color: var(--br-complementary);
        }
      }

      &--2 {
        margin-top: 2rem;
        @include helpers.flex-center();

        @media (min-width: $md) {
          margin-top: 2rem;
        }

        textarea {
          background: var(--bg-primary);
          border: 1px solid var(--br-primary);
          color: var(--txt-primary);
          outline: none;
          padding: 10px;
          width: 100%;
          resize: none;
          height: 200px;

          &::placeholder {
            color: var(--txt-tertiary);
          }

          &:focus {
            border-color: var(--br-complementary);
          }
        }

        input[type="submit"] {
          background: var(--bg-negative);
          border: none;
          color: var(--txt-negative);
          cursor: pointer;
          display: inline-block;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: $letter-spacing;
          max-width: 150px;
          padding: 12px 30px;
          text-transform: uppercase;

          &:hover {
            background-color: var(--bg-complementary);
            color: $white;
          }
        }
      }
    }
  }
}

// ----------------------------------------------------------------------------------------- FOOTER
.copyright {
  color: var(--txt-secondary);
  margin-top: 1rem;
  padding: 30px;
  text-align: center;
}

@media (min-width: $sm) {
  .section {
    padding: {
      left: 2rem;
      right: 2rem;
    }
  }
}
